.idea/
tmp/
.gradle/
build/
.DS_Store
lib/
examples/Triangle.java.junitResult
examples/Triangle.java.optimised
examples/Triangle.java.patched
examples/Triangle.java.statements
src/test/java/gin/Triangle.java.patched
src/test/resources/ExampleTriangleProgram.java.patched
*.optimised
*.patched
*.statements
*.blocks
classes/
*.iml
examples/*.class
examples/unittests/mypackage/*.class
/bin/
evoexample/
evosuite-report/
java.prof
hprof
scratch
examples/maven-simple/target
examples/unittests/mypackage/ExampleInterface.class
examples/unittests/gradle/gradle-simple/build/reports/tests/test/classes/example.ExampleTest.html
examples/unittests/gradle/gradle-simple/build/reports/tests/test/index.html
examples/unittests/gradle/gradle-simple/build/reports/tests/test/packages/example.html
examples/unittests/gradle/gradle-simple/build/test-results/test/TEST-example.ExampleTest.xml
examples/unittests/gradle/gradle-simple/build/test-results/test/binary/results.bin
examples/unittests/gradle/gradle-simple/build
examples/unittests/Error.class
examples/unittests/ErrorTest.class
examples/unittests/Example.class
examples/unittests/ExampleBase.class
examples/unittests/ExampleTest.class
examples/unittests/ExampleWithInnerClass$MyInner.class
examples/unittests/ExampleWithInnerClass.class
examples/unittests/ExampleWithInnerClassTest.class
nbproject/
nb-configuration.xml
.classpath
**/.project
**/.settings
examples/unittests/ekstazi/target/
examples/unittests/ekstazi_mvn/target/
examples/unittests/ekstazi_mvn/.ekstazi/
examples/unittests/ekstazi_mvn/.starts/
examples/unittests/ekstazi_mvn/jdeps-cache/
examples/unittests/ekstazi_mvn/output_file.csv
profile_timing.csv
sampler_timing.csv
